/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-Jan-2018, 11:53:59
    Author     : acer
*/

body{
    font-family: 'Raleway', sans-serif;
}

#section1{

    background-color: #222222;
    padding: 0.5em;
    color: #D5D5D5;

}

.white{
    color: #FFFFFF;
}

.ic{
    color :#D5D5D5;
    text-decoration: none;

}

.orange{
    color :#FFB300;
    text-decoration: none;

}

.ic:hover{
    color: #FFB300;
    text-decoration: none;

}


#section2{

    background-color: #333;
    /*padding: 1.5em;*/

}

.bf{

    font-family: 'Oswald', sans-serif;


}

#logo{
    vertical-align: middle;
    margin: 0 auto;

}

.lg_font{
    font-size: 3.5em;
}

.image-logo{
    padding: 43px 0 31px 0;
}

.tollfree{
    font-size: 23px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    line-height: 22px;
    color: #FFFFFF;
    text-align: right;
    padding-bottom: 3px;
}

.toll-free-number{
    font-size: 46px;
    font-weight: 400;
    font-family: oswald;
    padding-top: 0px;
    border-left: 1px solid #ccc;
    padding-left: 14px;
}

.position{
    float: left;
    display: inline-block;
    /*
    margin-left: 6px;
    margin-right: 6px;
    padding-top: 5px;
    */
}

.toll-height{
    line-height: 52px;
}

.banner-con-header-pad{
    padding-top: 47px;
}

.header-line{
    background: url(../images/header_line.png) repeat-x 0px 0px;
    background-color: #333;
    padding-bottom: 40px;
}

.time{    
    color: #f2f2f2;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 2px;
}

.date{
    color: #cccccc;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.pad {
    padding-left: 28px;
    padding-top: 14px;
}

.border-left{
    border-left: 1px solid #ccc;    
}

.menu-holder{
    z-index: 7;
    position: absolute;
    max-width: 100%;
    width: 100%;
    margin: -40px auto 0;
    left: 0;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    height: 70px;
    background-color: blue;
}

#innerMenuDiv{
    background-color: #FFB300;

    position: absolute;
    
    max-width: 100%;
    width: 100%;
    
    height: 70px;

}